*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}
.logo{
    width: 150px;
    padding: 20px 0;
    cursor: pointer;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 64px;
    font-weight: 600;
}
.content h1 span{
    color: #16ebbde0;
}
.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.content button img{
    width: 15px;
    margin-left: 10px;
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
}
#linka{
    text-decoration: none;
}
.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}
.wrapper .button .link{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    text-decoration: none;
  }
  .wrapper .button:hover .link{
    width: 200px;
  }
  .wrapper .button .link .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .link .icon{
    background: #E1306C;
  }
  .wrapper .button:nth-child(2):hover .link .icon{
    background: #1DA1F2;
  }
  .wrapper .button:nth-child(3):hover .link .icon{
    background: #4267B2;
  }
  .wrapper .button:nth-child(4):hover .link .icon{
    background: #128C7E;
  }
  .wrapper .button .link .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .link .icon i{
    color: #fff;
  }
  .wrapper .button .link span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) .link span{
    color: #E1306C;
  }
  .wrapper .button:nth-child(2) .link span{
    color: #1DA1F2;
  }
  .wrapper .button:nth-child(3) .link span{
    color: #4267B2;
  }
  .wrapper .button:nth-child(4) .link span{
    color: #128C7E;
  }
  }